<div class="col a">
   <h1 class="title">Our Solar System</h1>
    <div class="card mb-3 mx-auto" style="max-width: 50%; ">
    <div class="row g-0">
      <div class="col-md-4" >
        <img src="https://cdn140.picsart.com/329836825040201.gif?to=crop&r=256" width="100%">
      </div>
      <div class="col-md-8">
        <div class="card-body">
          <h5 class="card-title">Why is it called Solar System?</h5>
          <p class="card-text">There are many planetary systems like ours in the universe, with planets orbiting a host star. Our planetary system is called “the solar system” because we use the word “solar” to describe things related to our star, after the Latin word for Sun, "solis."</p>
        </div>
      </div>
      </div>
    </div>
    <br>
    <div class="description">
      <p>The planetary system we call home is located in an outer spiral arm of the Milky Way galaxy.
  
        Our solar system consists of our star, the Sun, and everything bound to it by gravity – the planets Mercury, Venus, Earth, Mars, Jupiter, Saturn, Uranus, and Neptune; dwarf planets such as Pluto; dozens of moons; and millions of asteroids, comets, and meteoroids.
        
        Beyond our own solar system, there are more planets than stars in the night sky. So far, we have discovered thousands of planetary systems orbiting other stars in the Milky Way, with more planets being found. Most of the hundreds of billions of stars in our galaxy are thought to have planets of their own, and the Milky Way is but one of perhaps 100 billion galaxies in the universe.
        
        While our planet is in some ways a mere speck in the vast cosmos, we have a lot of company out there. It seems that we live in a universe packed with planets – a web of countless stars accompanied by families of objects, perhaps some with life of their own.</p>
    </div>  
    <br>
    <div class="f">
      <h4 class="title">Formation</h4>
      <p>Our solar system formed about 4.5 billion years ago from a dense cloud of interstellar gas and dust. The cloud collapsed, possibly due to the shockwave of a nearby exploding star, called a supernova. When this dust cloud collapsed, it formed a solar nebula – a spinning, swirling disk of material.

        At the center, gravity pulled more and more material in. Eventually, the pressure in the core was so great that hydrogen atoms began to combine and form helium, releasing a tremendous amount of energy. With that, our Sun was born, and it eventually amassed more than 99% of the available matter.
        
        Matter farther out in the disk was also clumping together. These clumps smashed into one another, forming larger and larger objects. Some of them grew big enough for their gravity to shape them into spheres, becoming planets, dwarf planets, and large moons. In other cases, planets did not form: the asteroid belt is made of bits and pieces of the early solar system that could never quite come together into a planet. Other smaller leftover pieces became asteroids, comets, meteoroids, and small, irregular moons.
        
        Structure</p>
    </div>
    <br>
    <div class="s">
      <h4 class="title">Structure</h4>
      <p>The order and arrangement of the planets and other bodies in our solar system is due to the way the solar system formed. Nearest to the Sun, only rocky material could withstand the heat when the solar system was young. For this reason, the first four planets – Mercury, Venus, Earth, and Mars – are terrestrial planets. They are all small with solid, rocky surfaces.

        Meanwhile, materials we are used to seeing as ice, liquid, or gas settled in the outer regions of the young solar system. Gravity pulled these materials together, and that is where we find gas giants Jupiter and Saturn, and the ice giants Uranus and Neptune.</p>
    </div>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    
    <div class="card " style="width:20rem;" >
      
      
      
    <h5 class="card-title">Did you know?</h5>
      <p>

          Planets are divided into 2 categories, based on their composition, Terrestrial & Jovian.
          
          Terrestrial planets include Mercury, Venus, Earth & Mars.
          
          Jovian planets include Jupiter, Saturn, Uranus & Neptune.
          
          Jupiter & Saturn are Gas giants while Uranus & Neptune are Ice giants.
          
          The 5 Dwarf planets are Pluto, Ceres, Makemake, Haumea & Eris.</p>
          
        </div>
          <div class="display">
          <img src="https://universeglance.netlify.app/assets/images/nav.png" width="55%">

        </div>

    


        <div id="carouselExampleAutoplaying" class="carousel slide" data-bs-ride="carousel">
          <div class="carousel-inner">
            <div class="carousel-item active" width="100%">
              <img src="https://photojournal.jpl.nasa.gov/archive/PIA22093.gif" class="d-block w-100">
            </div>
            <div class="carousel-item">
              <img src="https://media.tenor.com/G_Nlf0Rdit4AAAAd/the-planets-surfaces-planets-of-the-universe.gif" class="d-block w-100" >
            </div>
            <div class="carousel-item">
              <img src="https://i.chzbgr.com/full/9407493120/h281DDAE7/17h-14m-e-283-16h-saturn-uranus-neptune-jupiter-james-odonoghue-nasa-tophysics-10-jamesikesspace" class="d-block w-100" >
            </div>
          </div>
          <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleAutoplaying" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
          </button>
          <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleAutoplaying" data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
          </button>
        </div>

        <div class="end">
          <p>******EXPLORE******</p>
        </div>
  </div>

  