<div class="wrapper">
    <div class="form-left">
        <h2 class="text-uppercase"><strong>Find your place in space</strong></h2>
        <p>
            When you become a member, you join our mission to increase discoveries in our solar system and beyond, elevate the search for life outside our planet, and decrease the risk of Earth being hit by an asteroid.
        </p>
        <div class="form-field">
            <input type="submit" class="account" value="Become a member..?">
        </div>
    </div>
    <form class="form-right">
        <h2 class="text-uppercase">Membership form</h2><br>
        <div class="row">
            <div class="col-sm-6 mb-3">
                <label>First Name</label>
                <input type="text" name="first_name" id="first_name" class="input-field">
            </div>
            
            <div class="col-sm-6 mb-3">
                <label>Last Name</label>
                <input type="text" name="last_name" id="last_name" class="input-field">
            </div>
            <div class="col-sm-10 mb-5">
                <label>Address</label>
                <input type="text" name="Add" id="Add" class="input-field">
            </div>
        </div>
        <div class="mb-3">
            <label>Your Email</label>
            <input type="email" class="input-field" name="email" required>
        </div>
        <div class="row">
            <div class="col-sm-6 mb-3">
                <label>Password</label>
                <input type="password" name="pwd" id="pwd" class="input-field">
            </div>
            <div class="col-sm-6 mb-3">
                <label>Current Password</label>
                <input type="password" name="cpwd" id="cpwd" class="input-field">
            </div>
        </div>
        <div class="mb-3">
            <label class="option">I agree to the <a href="#">Terms and Conditions</a>
                <input type="checkbox" checked>
                <span class="checkmark"></span>
            </label>
        </div>
        <div class="form-field">
            <input type="submit" value="Register" class="register" name="register">
        </div>
    </form>
</div>
<br>
<br>

    
<div class="container-med w-full px-6"><h2 style="font-family: 'Times New Roman', Times, serif;text-align: center;color: rgba(254, 219, 198, 0.591);"><u><b>As a Member, You Enjoy Special Privileges</b></u><br><br></h2><p>Basic benefits include:-<br><br></p><p>>> personalized membership card and social media donor badge</p><br><p>>> exclusive access to our online Member Community featuring live events, free classes, and more</p><br><p>>> personalized membership card and social media donor badge</p><br><p>>> subscription to The Planetary Report magazine </p><br><p>>> exclusive access to our online Member Community featuring live events, free classes, and more </p><br><p>>> member e-newsletters</p><br><p>>> opportunities to influence space programs through our advocacy campaigns</p><br><p>>> invitations to special events including Planetary Radio Live</p><br><p>>> your name sent to space on select space missions</p><br><p>>> access to our exciting worldwide member travel programs</p>
</div>
